@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-800: #5549A6; 
    --purple-200: #A09BBF; 
    --purple-400: #695BC7; 
    --white-200: #F2F2EB; 

    --lexend: "Lexend", sans-serif; 
    --cormorant: "Cormorant Garamond", sans-serif; 
}

body {
    background-color: var(--white-200);

}

li, a {
    list-style: none;
    text-decoration: none;
}

a {
    font-family: var(--lexend);
}

p {
    font-family: var(--lexend);
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-family: var(--cormorant);
}

select, input, button {
    outline: none;
}

.desc-animation, .image-animation {
    visibility: hidden;
}

.swiper-pagination {
    filter: blur();
}

.btn-agendar-desktop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: black;
    border-radius: 1.5rem;
    padding: 1rem 0;
    
    i, a {
        color: var(--white-200);
        font-size: .8rem;
    }
}

.btn-service {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 1.5rem;
    padding: 1rem 0;
    color: black;
}

span {
    color: var(--purple-800);
}