@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-800: #5549A6; 
    --purple-200: #A09BBF; 
    --purple-400: #695BC7; 
    --white-200: #F2F2EB; 

    --lexend: "Lexend", sans-serif; 
    --poppins: "Poppins", sans-serif; 
    --fredoka: "Fredoka", sans-serif; 
}

body {
    background-color: var(--white-200);

}

li, a {
    list-style: none;
    text-decoration: none;
}

a {
    font-family: var(--lexend);
}

p {
    font-family: var(--fredoka);
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-family: var(--poppins);
}