header {
    box-shadow: 0 10px 17.3px 0 rgba(0, 0, 0, 0.25);
    
    nav {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        box-shadow: 0 10px 17.3px 0 rgba(0, 0, 0, 0.25);
        
        .bar-nav-desktop, .btn-agendar-desktop {
            display: none;
        }
    }

    article {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        align-items: center;

        .desc-service {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .article-info {
                max-width: clamp(70%, 2vw, 80%);
                display: flex;
                align-items: center;
                gap: 1rem;
                border: 1px solid var(--purple-800);
                padding: .6rem 1.2rem;
                border-radius: 1.5rem;
                margin-top: 4rem;

                i {
                    font-size: .3rem;
                }

                p {
                    text-transform: uppercase;
                    font-size: .8rem;
                    width: 100%;
                }
            }

            h1 {
                font-size: clamp(3rem, 2vw, 10rem);
                font-weight: 400;

                span {
                    color: var(--purple-800);
                }
            }

            .btn-nav-contact {
                display: flex;
                gap: 1rem;
                flex-direction: column;
                align-items: center;
            }

            .info-article {
                width: 100%;
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto;
                justify-content: space-between;
                
                p {
                    max-width: 20%;
                    font-family: var(--cormorant);
                    font-size: clamp(3rem, 2vw, .8rem);
                }
                
                .tecnica-text {
                    max-width: 50%;
                    text-transform: uppercase;
                    font-size: clamp(.8rem, 2vw, .5rem);
                    font-weight: 300;
                    font-family: var(--lexend);
                }

            }
        }

        .image-header {
            width: 100%;
            margin-top: 4rem;

            img {
                width: 100%;
                height: 500px;            
                background-size: cover;
                border-radius: 2rem;
            }
        }
    }
}

@media (min-width: 1220px) {
    header {
        nav {
            width: 100%;
            justify-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 7rem;
             
            .bar-nav-desktop {
                ul {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;

                    li {
                        font-family: var(--lexend);
                        font-size: 1rem;
                        font-weight: 300;
                    }

                }
            }

            .btn-agendar-desktop {
                padding: 1rem 2rem;
            }

            .btn-mobile {
                display: none;
            }

            .bar-nav-desktop, .btn-agendar-desktop {
                display: flex;
            }

        }
        
        article {
            flex-direction: row;
            width: 65%;
            margin: 0 auto;
            gap: 5rem;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
            
            .desc-service {
                width: 40%;

                .article-info {
                    margin-top: 0;
                }
                
                .btn-nav-contact {
                    flex-direction: row;
                }
            
                .info-article {
                    justify-content: flex-start;
                    gap: 2rem;
                }
            }

            
            .info-article {

                .tecnica-text {
                    min-width: 100%;
                }

            }
            
            
            .image-header {
                width: 40%;
                
                img {
                    width: 100%;
                    height: 600px;
                    background-size: cover;
                    border-radius: 2rem;
                }
            }
            
    }
}
}