.container {
    padding: 2rem;
}

.service-desc {
    text-align: center;
    margin: 8rem 0;

    h2 {
        text-transform: uppercase;
        font-size: 1rem;
        font-family: var(--lexend);
        font-weight: 300;
        margin-top: 1rem;
    }
    
    h3 {
        font-size: 2.8rem;
        font-weight: 400;
        margin-top: 1rem;
    }
    
    p {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 1rem;
    }

}

.service {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        color: var(--purple-800); 
        font-weight: 500;
        font-size: 2rem;
    }

    .cards-services {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .card {
            display: flex;
            position: relative;
            border-radius: 1rem;

            p {
                min-width: 9rem;
                height: 2.1rem;
                text-align: center;
                background-color: var(--white-200);
                border-radius: 1rem;
                font-family: var(--lexend);
                font-weight: 600;
                color: var(--purple-200);
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .liso {
                top: 20px;
                right: 25px;
                
            }
            
            .mega {
                top: 20px;
                right: 20px;
            }
            
            .tranca {
                top: 20px;
                left: 5px;
            }
        }

        .card-liso {
            background-color: var(--purple-400);
            padding: 0 1rem;
        }
        
        .card-mega {
            padding: 0 5rem;
            background-color: var(--purple-800);

            img {
                margin-top: 3rem;
                width: 100px;
                object-fit: cover;
                display: flex;
                align-items: end;
                justify-content: center;
            }
        }
        
        .card-tranca {
            background-color: var(--purple-200);
            padding: 0 1rem;
        }
    }

}

.differentiating-services {
    background-color: var(--purple-200);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border-radius: 2rem;
    margin-top: 4rem;

    h3 {
        color: var(--white-200);
        font-size: 1.5rem;
        font-weight: 600;
    }

    .cards-desc-service {
        display: flex;
        max-width: 280px;
        margin: 0 auto;
        overflow: hidden;
        
        .card-desc {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 2rem;
            margin: 0 auto;
            min-width: 280px;

            border-radius: 2rem;
            background: #A09BBF;
            
            img {
                margin-bottom: 2rem;
            }
            
            h4 {
                font-size: 1rem;
                color: var(--purple-800);
                text-align: center;
            }
            
            p {
                color: var(--purple-800);
                font-weight: 300;
                font-size: 1rem;
                text-align: center;
            }
        }
    }
}

.testimonials {
    margin: 5rem 0;
    
    h2 {
        color: var(--purple-800); 
        font-size: 2rem;
        font-weight: 500;
    }
    
    .subtitle {
        color: var(--purple-800); 
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .cards-testimonials {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .card-testimonials {
            border: 2px solid var(--purple-200);
            border-radius: 1rem;
            padding: 1rem;

            p {
                font-size: 1.2rem;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-top: 1rem;

                p {
                    font-family: var(--lexend);
                    font-weight: 600;
                    color: var(--purple-400);
                }
            }
        }
    }
}

.galeria {
    text-align: center;
    margin: 8rem 0;

    h2 {
        text-transform: uppercase;
        font-size: 1rem;
        font-family: var(--lexend);
        font-weight: 300;
        margin-top: 1rem;
    }
    
    h3 {
        font-size: 2.8rem;
        font-weight: 400;
        margin-top: 1rem;
    }
    
    p {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .galeria-photos {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;

        img {
            width: 40%;
            border-radius: 1rem;
        }

        .image-large {
            width: 100%;
        }

    }
}

.agendar {
    width: 100%;
    text-align: center;
    margin: 8rem 0;
     background: linear-gradient(
      90deg,
      transparent 0%,
      oklch(0.74 0.10 80 / 0.25) 50%,
      transparent 100%
    );
    background-size: 200% 100%;
    animation: shimmer 3s linear infinite;
    padding: 2rem 1rem;
    border-radius: 1rem;

    h2 {
        text-transform: uppercase;
        font-size: 1rem;
        font-family: var(--lexend);
        font-weight: 300;
        margin-top: 1rem;
    }
    
    h3 {
        font-size: 2.8rem;
        font-weight: 400;
        margin-top: 1rem;
    }
    
    p {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

     .btn-nav-contact {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
}

select {
    height: 6.2vh;
    font-family: var(--poppins);
    border-radius: .5rem;
    border: none;
    width: 100%;  
    padding: 0 .7rem;
    color: var(#ccc);

    option {
        color: var(#ccc);
        font-family: var(--poppins);
        font-weight: 300;
    }
}

.shimmer {
    background: linear-gradient(
      90deg,
      transparent 0%,
      oklch(0.74 0.10 80 / 0.25) 50%,
      transparent 100%
    );
    background-size: 200% 100%;
    animation: shimmer 3s linear infinite;
  }
  @keyframes shimmer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}


@media (min-width: 1200px) {
    .service-desc {
        text-align: center;
        margin: 8rem 0;
    
        h2 {
            text-transform: uppercase;
            font-family: var(--lexend);
            font-weight: 300;
        }

        h3 {
            max-width: 30%;
            font-weight: 400;
            margin: 1rem auto;
        }
        
        p {
            max-width: 40%;
            font-size: 1rem;
            font-weight: 300;
            margin: 2rem auto;
        }

    }

    .service {
        width: 65%;
        margin: 0 auto;
        
        .cards-services {
            display: grid;
            grid-template-columns: auto auto auto;

        }
    }

    .differentiating-services {
        width: 65%;
        margin: 5rem auto;

        .title {
            width: 40%;
            font-size: 2rem;
            margin: 0 auto;
            text-align: center;
        }

        .container-differentiating {
            width: 100%;
            
            .cards-desc-service {
                display: grid;
                grid-template-columns: auto auto auto;
                width: 80%;
                gap: 1rem;
                align-items: center;
                justify-content: center;
                overflow: visible;

                .card-desc {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 2rem;
                    border: 1px solid var(--purple-800);
                    min-width: 250px;
                    min-height: 300px;

                    border-radius: 2rem;
                    background: #A09BBF;
                    
                        img {
                            margin-bottom: 2rem;
                        }
                        
                        h4 {
                            font-size: 1.5rem;
                            color: var(--purple-800);
                            text-align: center;
                        }
                        
                        p {
                            color: var(--purple-800);
                            font-weight: 300;
                            font-size: 1rem;
                            text-align: center;
                        }
                }
            }
        }
    }

    .testimonials {
        width: 65%;
        margin: 10rem auto;
    
        .cards-testimonials {
            flex-direction: row;
        }
    }
    
    .service {
        width: 65%;
        margin: 0 auto;
        
        .cards-services {
            display: grid;
            grid-template-columns: auto auto auto;

        }
    }

    .galeria {
        width: 65%;
        margin: 5rem auto;

        h2 {
            text-transform: uppercase;
            font-family: var(--lexend);
            font-weight: 300;
        }

        h3 {
            max-width: 30%;
            font-weight: 400;
            margin: 1rem auto;
        }
        
        p {
            max-width: 40%;
            font-size: 1rem;
            font-weight: 300;
            margin: 2rem auto;
        }

        .galeria-photos {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;
            gap: 1rem;
            align-items: start;


        img {
            width: 40%;
            border-radius: 1rem;
        }

        .image-large {
            width: 100%;
        }

        .img-desktop {
            display: none;
        }

        }
    }

    .agendar {
        width: 60%;
        margin: 15rem auto;

        h2 {
            text-transform: uppercase;
            font-family: var(--lexend);
            font-weight: 300;
        }

        h3 {
            font-weight: 400;
            margin: 1rem auto;
        }
        
        p {
            max-width: 60%;
            font-size: 1rem;
            font-weight: 300;
            margin: 2rem auto;
        }
        
        .btn-nav-contact {
            width: 60%;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            margin: 0 auto;
        }
    }
}